@font-face {
    font-family: 'bariol_lightlight';
    src: url('../fonts/bariol_light-webfont.eot');
    src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol_regularregular';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol_boldbold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
